
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div  class="card card-body text-center">
      <%- include ('partials/messages') %>
      <h5>User ID : <%- User %></h5><br>
      <button type="submit" class="btn btn-dark btn-block"> <a href="/changepassword">Change Password</a></button><br>
      <a href="/logout"><h4>LOGOUT!</h4></a>
      </form>
    </div>
  </div>
</div>